.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @mixin hover {
    background-color: var(--mantine-color-dark-6);
  }
}
